.page {
  @include adpv("margin-top", 1, 50, 30);
  &__preview {
  }
  &__video-block {
    @include adpv("margin-top", 1, 140, 80);
  }
  &__features {
    @include adpv("margin-top", 1, 140, 80);
  }
  &__gallery-block {
    @include adpv("margin-top", 1, 140, 80);
  }
  &__quote-block {
    @include adpv("margin-top", 1, 140, 80);
  }
  &__sign-block {
    @include adpv("margin-top", 1, 140, 80);
  }
}
//preview block styles
.preview-block {
  &__container {
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(30);

    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__content {
    display: grid;
    row-gap: rem(20);
    flex: 1 1 rem(360);

    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  &__heading {
    font-family: SourceSerifPro;

    font-weight: 600;

    @include adpv("font-size", 1, 60, 30);
    line-height: 120%;

    color: #1a0a03;
    max-width: rem(366);

    @media (max-width: $mobile) {
      text-align: center;
    }
    span {
      color: $color_orange;
    }
  }

  &__text {
    @include adpv("font-size", 1, 16, 14);
    line-height: 160%;
    color: #1a0a03;

    opacity: 0.7;

    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__slider {
    flex: 0 1 rem(600);
    position: relative;

    @media screen and (max-width: rem(1040)) {
      flex: 0 1 rem(400);
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__slide-image {
    display: block;

    @media screen and (max-width: rem(1040)) {
      img {
        width: rem(400);
      }
    }
  }

  &__slider-next {
    position: absolute;
    right: rem(0);
    top: 50%;
    transform: translate(0px, -50%);

    width: rem(70);
    height: rem(70);
    background: #f2d8ce;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    span {
      font-size: rem(24);
    }
  }

  &__craft {
  }
}

.craft-block {
  @media (max-width: $mobile) {
    margin-top: rem(40);
  }
  &__inner {
    display: inline-flex;
    padding: rem(30) rem(54);
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    border-radius: rem(5);
    @include adpv("gap", 1, 40, 20);

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      display: flex;
      padding: rem(15) rem(25);
      justify-content: center;
    }
  }

  &__items {
    display: flex;
    gap: rem(80);
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: rem(20);
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }

  &__item {
    display: grid;
    gap: rem(10);
    position: relative;

    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        right: rem(-40);
        top: 50%;
        transform: translate(0px, -50%);
        width: rem(2);
        height: rem(40);
        background-color: $color_orange;

        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }

  &__item-name {
    font-size: rem(16);
    line-height: 160%;
    color: #1a0a03;

    opacity: 0.7;
  }

  &__item-select {
  }

  &__button {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//video block styles

.video-block {
  &__container {
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(40);

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__content {
    display: grid;
    gap: rem(16);
    flex: 1 0 rem(360);

    @media (max-width: $mobile) {
      flex: 1 1 auto;
    }
  }

  &__sub-title {
    font-family: SourceSerifPro;
    font-weight: 600;
    font-size: rem(20);
    @include adpv("font-size", 1, 20, 16);
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $color_orange;
    text-transform: uppercase;
    margin-bottom: rem(-20);
  }

  &__title {
    font-family: SourceSerifPro;
    font-weight: 600;
    line-height: 130%;
    @include adpv("font-size", 1, 44, 26);
    color: #1a0a03;
  }

  &__text {
    @include adpv("font-size", 1, 16, 14);
    line-height: 160%;
    color: #1a0a03;
    opacity: 0.7;
  }

  &__video-inner {
    img {
      max-width: rem(605);
      width: 100%;

      cursor: pointer;

      transition: all 0.3s ease 0s;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

//features block styles

.features-block {
  &__container {
  }

  &__inner {
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(10);
    font-family: SourceSerifPro;
    font-weight: 600;
    @include adpv("font-size", 1, 20, 18);
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ee5514;
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    font-family: SourceSerifPro;
    font-weight: 600;
    @include adpv("font-size", 1, 44, 26);
    line-height: 130%;
  }

  &__items {
    @include adpv("margin-top", 1, 60, 30);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: rem(30);
    justify-content: center;
  }

  &__item {
    flex: 1 0 rem(280);
    display: grid;
    justify-items: center;
    background: #ffffff;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px;
    @include adpv("padding", 1, 56, 20);

    transition: all 0.3s ease 0s;

    &:hover {
      background: #f5f0ed;
    }
  }

  &__icon {
    margin-bottom: rem(30);
    width: rem(140);
  }

  &__label {
    margin-bottom: rem(10);
    font-family: SourceSerifPro;
    font-weight: 600;

    @include adpv("font-size", 1, 22, 18);
    line-height: 150%;

    text-align: center;
  }

  &__text {
    margin-bottom: rem(20);
    text-align: center;

    font-size: rem(14);
    line-height: 160%;

    opacity: 0.7;
  }

  &__link {
    display: flex;
    gap: rem(10);
    align-items: center;
    color: $color_orange;
    position: relative;
    span {
      font-size: rem(10);
      color: $mainColor;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: rem(-4);
      left: -50%;
      height: rem(2);
      width: calc(100% - rem(16));
      background-color: #ee5514;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
    &:hover {
      &::before {
        opacity: 1;
        left: 0px;
      }
    }
  }
}

//gallery block styles

.gallery-block {
  &__container {
  }

  &__inner {
  }

  &__subtitle {
    font-family: SourceSerifPro;
    font-weight: 600;
    font-size: rem(20);
    @include adpv("font-size", 1, 20, 16);
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $color_orange;
    text-transform: uppercase;
    margin-bottom: rem(10);
  }

  &__title {
    text-transform: uppercase;
    font-family: SourceSerifPro;
    font-weight: 600;
    line-height: 130%;
    @include adpv("font-size", 1, 44, 26);
    color: #1a0a03;
    margin-bottom: rem(12);
  }

  &__categories {
    @include adpv("margin-bottom", 1, 60, 30);
  }

  &__slider {
  }

  &__wrapper {
  }

  &__slide {
  }

  &__slide-image {
    margin-bottom: rem(30);

    img {
      width: 100%;
    }
  }

  &__slide-label {
    font-family: SourceSerifPro;
    font-weight: 600;

    @include adpv("font-size", 1, 22, 18);
    line-height: 150%;
    margin-bottom: rem(10);
  }

  &__slide-info {
    margin-bottom: rem(10);
  }

  &__slide-item {
  }

  &__slide-button {
  }
}
.categories-gallery {
  display: flex;
  align-items: center;
  gap: rem(30);
  &__label {
    @include adpv("font-size", 1, 20, 16);
    line-height: 140%;

    letter-spacing: 0.05em;

    color: #1a0a03;

    opacity: 0.7;
  }

  &__items {
    display: flex;
    align-items: center;
    @include adpv("gap", 1, 40, 16);
  }

  &__item {
    @include adpv("font-size", 1, 18, 12);
    &_active {
      color: $color_orange;
    }
  }
}

.item-info {
  display: flex;
  align-items: center;
  gap: rem(10);

  &__label {
    font-size: rem(16);
    line-height: 160%;
    color: #1a0a03;
    opacity: 0.7;
  }

  &__data {
    font-size: rem(16);

    line-height: 160%;
    color: #1a0a03;

    opacity: 0.8;
  }
}

//quote block styles

.quote-block {
  &__container {
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(30);
    flex-wrap: wrap;
  }

  &__title {
    font-family: SourceSerifPro;
    font-weight: 600;
    line-height: 130%;
    @include adpv("font-size", 1, 38, 26);
    color: #1a0a03;
    @include adpv("margin-bottom", 1, 60, 26);
    text-align: center;
  }

  &__image {
    display: flex;
    justify-content: center;
    flex: 1 1 rem(555);
    img {
      max-width: rem(555);
      width: 100%;
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__icon {
    img {
      width: rem(100);
    }
    margin-bottom: rem(70);
  }

  &__info {
    position: relative;
  }

  &__sub-title {
    font-family: SourceSerifPro;
    font-weight: 600;
    font-size: rem(22);
    line-height: 150%;
    margin-bottom: rem(15);
  }

  &__text {
    font-weight: 500;
    font-size: rem(14);
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: rem(25);
  }

  &__name {
    font-weight: 500;
    font-size: rem(18);
    line-height: 160%;
    margin-bottom: rem(10);
  }

  &__profession {
    font-size: rem(14);
    line-height: 160%;
    opacity: 0.8;
  }

  &__icon-quote {
    position: absolute;
    top: rem(-40);
    left: 0;
    z-index: -1;
  }
}

// sign block styles

.sign-block {
  &__container {
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #81a8da2f;
    border-radius: rem(10);
    gap: rem(60);
  }

  &__image {
    img {
      max-width: rem(488);
      width: 100%;
    }
    @media (max-width: rem(1020)) {
      display: none;
    }
  }

  &__content {
    flex: 1 0 rem(526);
    @include adpv("padding", 1, 50, 24);

    @media (max-width: rem(1020)) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    @media (max-width: rem(610)) {
      flex: 1 1 auto;
    }
  }

  &__title {
    font-family: SourceSerifPro;
    font-weight: 600;
    line-height: 140%;
    @include adpv("font-size", 1, 31, 24);
    margin-bottom: rem(20);

    @media (max-width: rem(1020)) {
      text-align: center;
    }
  }

  &__text {
    font-size: rem(18);
    line-height: 160%;

    opacity: 0.7;
    &:not(:last-child) {
      @include adpv("margin-bottom", 1, 40, 24);
    }
    @media (max-width: rem(1020)) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    @media (max-width: rem(1020)) {
      max-width: rem(500);
    }
    @media (max-width: rem(610)) {
      flex-direction: column;
      max-width: none;
      width: 100%;
    }
    input {
      flex: 1 1 100%;
      height: rem(50);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: rem(5);
      padding: rem(15) rem(30);
      font-size: rem(14);
      line-height: 150%;

      @media (max-width: rem(610)) {
        width: 100%;
      }
    }
    button {
      height: rem(50);
      margin-left: rem(-20);
      border-radius: 0px rem(5) rem(5) 0px;
      padding: 0px;
      min-width: rem(116);
      @media (max-width: rem(610)) {
        width: 100%;
        margin-left: rem(0);
        border-radius: rem(5);
        margin-top: rem(10);
      }
    }
  }
}
